h2 {
    margin-bottom: 5px;
}

.todolst {
    list-style: "-";
    padding-left: 15px;
    margin-top: 5px
}

.todolst li {
    padding: 12px;
}

.todolst li:hover {
    background-color: #f3f3f3;
}

.content {
    margin: calc(var(--header-height) + 40px) 10px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sheet {
    box-shadow: 0px 1px 4px #999999;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px;
    width: 600px;
}

.social-media {
    height: 120px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    
}
.social-media img {
    height: 40px;
    width: 40px;
}

.social-media a {
    height: 40px;
    width: 40px;
}


@media all and (max-width: 1000px) {

    .content {
        margin-bottom: 60px;
    }
    
    .social-media {

        top: auto;
        height: 60px;
        flex-direction: row;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .social-media img {
        height: 60px;
        width: 60px;
    }
    
    .social-media a {
        height: 60px;
        width: 60px;
    }
}