:root {
    --primary-color: #6200EA;
    --primary-dark: #0a00b6;

    --header-height: 60px
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 24px;
}

.nav-items {
    padding: 0px;
    margin-top: 0px;
    background-color: var(--primary-color);
    list-style: none;

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
    align-items: center;

    box-shadow: 0 8px 6px -6px #999;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: var(--header-height);
    z-index: 1;

}

.nav-but {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

#home-but {

    padding: 15px 16px;
    font-size: 20px;
    margin: 0px 10px;
}

#home-item {
    margin-right: auto;
}

.rounded-upload {
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;

    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 0 8px 6px -6px #999;
}

.rounded-button:hover {
    background: var(--primary-dark);
}

#upload-file {
    display: none;
}

table {
    width: calc(100% - 20px);
    border-collapse: collapse;
    margin: calc(var(--header-height) + 20px) 10px 10px 10px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0px 1px 5px #999999;
}

table thead tr {
    color: #757575;
    text-align: left;
}

table tr td:nth-child(5),
table tr th:nth-child(5) {
    text-align: center;
}

table tr td:nth-child(5) a {
    color: black;
}

table thead tr p {
    color: #000000;
    margin: 0;
}

table tbody tr {
    border-bottom: thin solid #dddddd;
}

table tbody tr:hover {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

table th,
table td {
    padding: 12px 15px;
    white-space: nowrap;
}

table tr td:nth-child(2),
table tr th:nth-child(2) {
    width:100%;
}

.btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    margin: 0 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto';
    box-shadow: 0px 1px 3px #999999;

}

.btn:hover:enabled {
    box-shadow: 0px 1px 3px #6b6b6b;
}

.btn:disabled {
    cursor: initial;
    color: #8b8b8b; 
    background-color: #e0e0e0;
}

/* Rules for sizing Material icons. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mat-input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.mat-input-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.mat-input-field::placeholder {
    color: transparent;
}
  
.mat-input-field:placeholder-shown ~ .mat-input-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

/* zero clue why style breaks if next line changed to mat-input-label */
label[for=ttl-input],
label[for=username-input],
label[for=password-input],
.mat-input-field:focus ~ .mat-input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}
  
.mat-input-field:focus ~ .mat-input-label {
    color: var(--primary-color);
}
  
.mat-input-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--primary-color);
}

@media all and (max-width: 1000px) {

    :root {
        --header-height: 80px;
    }

    #home-but {
        font-size: 36px;
    }

    .nav-but {
        font-size: 18px;
    }

}

.light-text {
    color: #999999;
    list-style: none;
}