html,
body {
  margin: 0;
}

.content {
    margin: calc(var(--header-height) + 40px) 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.sheet {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 4px #999999;
    border-radius: 4px;
    padding: 15px;
    width: 500px;
}

.upload {
    display: flex;
}

#files {
    display: none;
}

.btn {
    margin: 0 15px 10px 0;
}

@media all and (max-width: 1000px) {

    .sheet {
        transform: scale(1.5);
        margin-top: 35px;
    }

}
